<main class="main">
  <header class="header">
    <div class="search__field">
      <input [value]="searchTerm" (input)="onSearchInput($event)" (keyup.enter)="onEnter()" type="text" placeholder="Search songs, albums, artists...">
      <span class="material-icons"  (click)="search()">
        search
      </span>
    </div>
    <div class="socials">
      <img src="../assets/socials/linkedin.svg" alt="Linkedin">
      <img src="../assets/socials/twitter.svg" alt="Twitter">
      <img src="../assets/socials/github.svg" alt="Github">
    </div>
  </header>
  <section class="browser">
    <nav class="left__links" *ngIf="!isScreenSmall()">
      <a routerLink="Playlists">
        <span class="material-icons">
          playlist_play
        </span>
        <p>Playlists</p>
      </a>
      <a routerLink="Albums">
        <span class="material-icons">
          library_books
        </span>
        <p>Albums</p>
      </a>
      <a routerLink="Artists">
        <span class="material-icons">
          person_4
        </span>
        <p>Artists</p>
      </a>
      <a routerLink="Tracks">
        <span class="material-icons">
          headphones
        </span>
        <p>Track</p>
      </a>
      <a routerLink="Radio">
        <span class="material-icons">
          audiotrack
        </span>
        <p>Radio</p>
      </a>
    </nav>
    <div [class]="'browser__main' + (isScreenSmall() ? ' small__device': '')"><router-outlet></router-outlet></div>
    <nav class="right__links" *ngIf="!isScreenSmall()">
      <a routerLink="Editorials">
        <span class="material-icons">
          create
        </span>
        <p>Editorials</p>
      </a>
      <a routerLink="Genres">
        <span class="material-icons">
          lyrics
        </span>
        <p>Genre</p>
      </a>
      <a routerLink="Comments">
        <span class="material-icons">
          chat
          </span>
        <p>Comments</p>
      </a>
      <a routerLink="Info">
        <span class="material-icons">
          help
          </span>
        <p>Info</p>
      </a>
      <a routerLink="Info">
        <span class="material-icons">
          help
          </span>
        <p>Info</p>
      </a>
      <p>Copyright © 2023 Beezer. All Rights Reserved</p>
    </nav>
  </section>
</main>